*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#c6d9e3;
}

h1{
    color: #164863;
    background-color: #9BBEC8;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
}

h2{
    color: #164863;
    margin: 20px;
}

h3{
    color: #164863;
    margin: 20px;
}

.descr{
    color: #164863;
    font-size: 21px;
    text-align: center;
}

.odin{
    color: #164863;
}

.img{
    margin: 10px;
    border-radius: 10px;
    margin: 20px;
}

.btn{
    background-color: #427D9D;
    color: beige;
    font-size: 32px;
    text-decoration: none;
    border-radius: 15px;
    border: 0; 
}

.btn:hover{
    background-color: #9BBEC8;
    color: black;
}

.list{
    list-style: none;
    margin: 10px;
}

.home{
    text-align: center;
    text-decoration: none;
    color: #164863;
    font-size: 32px;
    margin: 20px;
    display: block;
}

.home:hover{
   color: #7886C7; 
}



